body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/wallpaper1.jpg');
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
canvas{
    background-color: black;
}
.startImage{
    width: 720px;
    height: 480px;
    position: fixed;
}/*
.startGameButton{
    position: fixed;
    top: 120px;
    left: 500px;
    background-color: orange;
    font-size: 30px;
    cursor: pointer;
}*/
.d-none{
    display: none;
}
.lostImage{
    width: 720px;
    height: 480px;
}
.endScreenLost{
    position: absolute;
    top: 88px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.547);
}
.wonImage{
    width: 720px;
    height: 480px;
}
.endScreenWon{
    position: absolute;
    top: 88px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.547);
}
.replayImage{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

}
.symbolPlay{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: fixed;
    background-color: rgb(255,203,27);
    margin-top: 20px;
    margin-left: 20px;
}
.symbolController{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: fixed;
    background-color: rgb(255,203,27);
    margin-top: 20px;
    margin-left: 90px;
    padding: 10px;
    border-width: 2px;
    border-color: rgb(89,74,66);
}

.controllerDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explanationImage{
    width: 30px;
    height: 30px;
}
.explanation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border-style: ridge;
    border-radius: 12px;
    padding: 6px;
    border-color: black;
}
.closeImg{
    width: 30px;
    height: 30px;


}
.controller{
    background-image: url('./img/wallpaper1.jpg');
}